
@model Product;

@{
    ViewData["Title"] = "Edit Product";
}

<div class="text-center">
    <h1 class="display-4">Edit Product</h1>
</div>

<div class="container">

    <form asp-controller="Admin" asp-action="EditProductInDB" EncType="multipart/form-data">

        <!--CompanyID-->
        <input type="hidden" value="@Model.ReferenceID" asp-for="ReferenceID" />

        <!--ProductID-->
        <input type="hidden" value="@Model.ID" asp-for="ID" />

        <!-- name of product -->
        <label class="lead">Name: </label>
        <input type="text" placeholder="@Model.Name" class="form-control"
               asp-for="Name" value="@Model.Name" required />

        <!-- price of product -->
        <label class="lead">Price: </label>
        <input type="number" step="0.01" placeholder="@Model.Price" class="form-control"
               asp-for="Price" value="@Model.Price" required />

        <!-- description of product -->
        <label class="lead">Description: </label>
        <input type="text" placeholder="@Model.Description" class="form-control"
               asp-for="Description" value="@Model.Description" required /> <br />

        <!-- discount switch -->
        @if (Model.DiscountBool == true)
        {
            <div class="form-check form-switch container">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                       asp-for="DiscountBool" checked>
                <label class="form-check-label" for="flexSwitchCheckDefault">Discount Switch</label>
            </div>
        }
        else
        {
            <div class="form-check form-switch container">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                       asp-for="DiscountBool">
                <label class="form-check-label" for="flexSwitchCheckDefault">Discount Switch</label>
            </div>
        }

        <!-- discount percentage -->
        <label class="lead">Discount Percentage:</label>
        <input type="number" placeholder="@Model.DiscountPercentage" step="0.01" class="form-control"
               asp-for="DiscountPercentage" value="@Model.DiscountPercentage" /> <br />

        <div class="row">

            <!-- current thumbnail-->
            <div class="col-4">
                <code>CURRENT THUMBNAIL</code>
                <img class="img-fluid" src="@Model.ThumbnailImage.ImagePath"
                     width="125"/>
            </div>

            <!-- OVERRIDE thumbnail -->
            <div class="mb-3 col-8">
                <label for="formFile" class="form-label"><code>OVERRIDE THUMBNAIL</code></label>
                <input class="form-control" type="file" id="formFile"
                       asp-for="UploadThumbnail">
            </div>
        </div>

        <!-- product carousl of images -->
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Add Images to the Carousel</label>
            <input class="form-control" type="file" id="formFileMultiple" multiple
                   asp-for="UploadImageCarousel">
        </div>

        <!-- DELETE IMAGES FROM CAROUSEL -->
        @{
            int startIndex = 0;
            if (Model.ImageCarousel.Count > 0)
            {
                startIndex = Model.ImageCarousel[0].ImagePath.LastIndexOf('/') + 1;
            }
        }

        <div class="row">
            @foreach(Image image in Model.ImageCarousel)
            {
                <div class="col-3">
                    @{
                        string fileName = image.ImagePath.Substring(startIndex);
                    }
                    <p>@fileName</p>
                    <img src="@image.ImagePath" height="139" width="225" />
                </div>  
            }
        </div>
        <br />

        <code>SELECT IMAGES TO DELETE</code>
        <select class="form-select" multiple size="@Model.ImageCarousel.Count" asp-for="CarouselImagesID">
            @foreach(Image image in Model.ImageCarousel)
            {
                <option value="@image.ID">@image.ImagePath.Substring(startIndex)</option>
            }
        </select>

        <!-- flag product -->
        @if (Model.Flag == true)
        {
            <div class="form-check form-switch container">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                       asp-for="Flag" che>
                <label class="form-check-label" for="flexSwitchCheckDefault">Flag Switch</label>
            </div> <br />
        } else
        {
            <div class="form-check form-switch container">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                       asp-for="Flag">
                <label class="form-check-label" for="flexSwitchCheckDefault">Flag Switch</label>
            </div> <br />
        }

        <input type="submit" value="Edit Product in DataBase" class="btn btn-success" />

    </form>

</div>
