@model Company;
@{
    ViewData["Title"] = Model.Name;
}

<div class="text-center">
    <h1 class="display-main">@Model.Name</h1>
</div>

<!-- search products -->
<form asp-controller="Home" asp-action="DisplayCompanyHomePage"
      asp-route-companyID="@Model.ID">
    <input type="text" class="form-control"
           placeholder="Search..." name="search" />
    <br />
</form>

@if (ViewData["IsMobileDevice"].ToString().Equals("True"))
{
    <!-- Mobile Device View -->
    <!-- Display Products -->
    @if (Model.Products.Count == 0)
    {
        <div class="container">
            <p class="lead">
                No results for search:
                <code>@ViewData["search"]</code>
            </p>
        </div>
    }
    else
    {
        @foreach (Product product in Model.Products)
        {
            if (product.Flag != true)
            {
                <div class="col-md-12 text-center">
                    <a asp-controller="Home" asp-action="DisplayProductView" asp-route-productID="@product.ID">
                        @product.Name<br />
                        <img src="@product.ThumbnailImage.ImagePath"
                             width="222" height="360" />
                    </a>
                </div>
            }
        }
    }

    <!-- END OF MOBILE VIEW-->
}
else
{
    <!-- Computer View -->
    <!-- Display Products -->
    <div class="row">
        @if (Model.Products.Count == 0)
        {
            <div class="container">
                <p class="lead">
                    No results for search:
                    <code>@ViewData["search"]</code>
                </p>
            </div>
        }
        else
        {
            @foreach (Product product in Model.Products)
            {
                if (product.Flag != true)
                {
                    <div class="col-3">
                        <a asp-controller="Home" asp-action="DisplayProductView" asp-route-productID="@product.ID">
                            @product.Name<br />
                            <img src="@product.ThumbnailImage.ImagePath"
                                 width="222" height="360" />
                        </a>
                    </div>
                }
            }
        }
    </div>
}

<!-- Company Notes -->
<div class="container">

    <h2 class="display-second">@Model.Name To Do List</h2>

    <a asp-controller="Home" asp-action="AddNoteView" asp-route-companyID="@Model.ID"
       class="btn btn-success">Add Note</a> <br /> <br />

    @foreach (Note note in Model.ToDoList)
    {
        <div class="card">
            <div class="card-header">
                @note.Date
            </div>
            <div class="card-body">
                <h5 class="card-title">@note.Description</h5>
                <p class="card-text">@note.Status</p>
                <a asp-controller="Home" asp-action="UpdateNoteView"
                   asp-route-noteID="@note.ID"
                   class="btn btn-primary">Update</a>

                <a asp-controller="Home" asp-action="DeleteNote"
                   asp-route-noteID="@note.ID" asp-route-companyID="@note.CompanyID"
                   class="btn btn-danger">Delete</a>
            </div>
        </div>

        <br />
    }
</div>

<!-- Mission Statement-->
<div class="container">

    <label>Mission Statement:</label>
    <p class="lead">@Model.MissionStatment</p>

    <a href="@Model.HrefAddress" target="_blank">
        <address>@Model.Address</address>
    </a>

</div>
