@model Company;
@{
    ViewData["Title"] = Model.Name;
}

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
</div>

<!-- search products -->
<form asp-controller="Home" asp-action="DisplayCompanyHomePage"
      asp-route-companyID="@Model.ID" >
    <input type="text" class="form-control"
           placeholder="Search..." name="search"/>
    <br />
</form>

<!-- Display Products -->
<div class="row">
    @if(Model.Products.Count == 0)
    {
        <div class="container">
            <p class="lead">
                No results for search:
                <code>@ViewData["search"]</code>
            </p>
        </div>
    } else
    {
        @foreach (Product product in Model.Products)
        {
        
            <div class="col-3">
                <a asp-controller="Home" asp-action="DisplayProductView" asp-route-productID="@product.ID">
                    @product.Name<br />
                    <img src="@product.ThumbnailImage.ImagePath"
                             width="222" height="360"/>
                </a>
            </div>
        }
    }
</div>


<!-- Mission Statement-->
<div class="container">

    <label>Mission Statement:</label>
    <p class="lead">@Model.MissionStatment</p>

    <a href="@Model.HrefAddress" target="_blank">
        <address>@Model.Address</address>
    </a>

</div>
