@{
    ViewData["Title"] = "View all Companies!";
}

<div class="text-center">

    <h1 class="display-4">Companies</h1>

    <!-- SEARCH FOR COMPANY -->
    <form asp-controller="Home" asp-action="Index">
        <input name="search" type="text" class="form-control"
               placeholder="Search for Companies!" />
    </form>
    <br />

    @if (Model.Count == 0)
    {
        <p class="lead">
            No Companies with
            <code>@ViewData["search"]</code>
            in the name.
        </p>
    }

    @foreach (Company company in Model)
    {
        <a asp-controller="Home" asp-action="DisplayCompanyHomePage" asp-route-companyID="@company.ID" asp-route-search="">
            <div class="card">
                <div class="card-header">
                    @company.Name
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>@company.MissionStatment</p>
                        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">@company.Address</cite></footer>
                    </blockquote>
                </div>
            </div>
        </a>
        <br />
    }

    @*<div>
        @(await Html.RenderComponentAsync<Shop.Views.Shared.Component.Component>(RenderMode.ServerPrerendered,new {  Data= " Hello World " }))
    </div>*@
</div>


